#navbar, #nav-member, #nav-user, #nav-icon {
    display:flex;
}

#navbar {
    /* height: 35px; */
    padding: 15px;
    justify-content: space-between;
    border-bottom: 2px solid lightblue;
    grid-area: header;
}

#navbar img {
    height: 100%;
}

#nav-member {
    gap:2em;
    margin-right: 0.5em;
    justify-content: end;
}

#nav-user, #nav-icon {
    align-items: center;
    gap: 1.2em;
}

#nav-search {
    width: 50%;
    padding: 0 1em;
    border-radius: 25px;
    border: 1px solid hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 90%);
}

#nav-search:focus {
    outline: none !important;
    border:1px solid lightgrey;
    box-shadow: 0 0 5px hsl(0, 0%, 70%);
}

#nav-icon svg {
    cursor: pointer;
}

#user-icon {
    border-radius:50px;
    cursor: pointer;
}

