#sidebar {
    width: 300px;
    /* height: 100%; */
    background-color: hsl(209, 52%, 62%);
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    color: white;
}

.side-btn {
    display: flex;
    height: 60px;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
}

.side-btn:hover {
    background-color: hsl(209, 52%, 40%);
}

.side-btn p {
    font-size: 1em;
    margin: 0;
}

#side-copyright {
    text-align: center;
    margin-top: auto;
    margin-bottom: 15px;
    font-size: small;
}

#side-copyright p {
    margin: 0;
}


@media screen and (max-width: 768px) {
    #sidebar {
        width: 100%;
    }
    #side-copyright {
        display: none;
    }
}    